@import '/src/styles/styles.scss';

:host {
  width: 100%;
}

.user-table {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

    @media (max-width: $breakpoint-tablet) {
      gap: 5px;
    }

    .user-table__search-field,
    .user-table__add-record {
      width: 300px;
      border-radius: 8px;
      height: 100%;
    }

    .user-table__add-record {
      border: 1px solid;
      padding: 8px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .user-table__add-record-label {
      display: inline-block;
    }

    ::ng-deep .mat-mdc-text-field-wrapper {
      height: 40px !important;
    }

    ::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
      top: 20px !important;
    }

    ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
      padding-top: 10px !important;
    }

    @media (max-width: $breakpoint-tablet) {
      .user-table__add-record {
        width: auto;
      }

      .user-table__search-field {
        width: 90%;
      }

      .user-table__add-record-label {
        display: none;
      }
    }
  }

  &__table-wrapper {
    table {
      width: 100%;
      height: 422px;
      border-collapse: collapse;
      white-space: nowrap;
      overflow: auto;
      display: inline-table;
      margin-top: $space-md;

      @media (max-width: $breakpoint-tablet) {
        display: inline-block;
      }

      th {
        font-weight: bold;
        text-align: left;
        padding: $space-md;
        border-bottom: 2px solid $gray;
      }

      td {
        padding: $space-md;
        border: 1px solid $gray;
      }

      .user-table__chips {
        display: grid;
        width: 100%;
        justify-content: center;
        text-align: center;
      }
    }
  }
}
