@import '/src/styles/styles.scss';

:host {
  width: 100%;
}

.user-table-container {
  table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    overflow: auto;
    display: inline-table;

    @media (max-width: 600px) {
      display: inline-block;
    }

    th {
      font-weight: bold;
      text-align: left;
      padding: 12px;
      border-bottom: 2px solid $gray;
    }

    td {
      padding: 12px;
      border: 1px solid $gray;
    }
  }
}
