// colors
$green: #85dcba;
$orange: #e27d60;
$purple: #c38de9;
$white: #fefdfa;
$gray: #f3f3f3;
$black: #424242;

// spaces
$space-xs: 4px;
$space-s: 8px;
$space-md: 12px;
$space-lg: 16px;
$space-xl: 20px;

// breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
