<div mat-dialog-content>
    <p><strong>First Name:</strong> {{ data.user.firstName }}</p>
    <p><strong>Last Name:</strong> {{ data.user.lastName }}</p>
    <p><strong>Email:</strong> {{ data.user.email }}</p>
    <p><strong>Birth Date:</strong> {{ data.user.birthDate | date }}</p>
    <p><strong>Role:</strong> {{ data.user.role }}</p>
</div>
<div mat-dialog-actions
    [align]="'end'">
    <button mat-button
        (click)="onClose()">Cancel</button>
    <button mat-raised-button
        color="primary">Save</button>
</div>