@import '/src/styles/styles.scss';

.dialog {
  &__container {
    padding: $space-xl;
    border-radius: $space-s;
    max-width: 500px;
    width: 100%;
  }

  &__actions {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    gap: $space-md;

    button {
      min-width: 100px;
    }
  }
}

.form {
  &__container {
    @include grid-layout($space-lg);
  }

  &__row {
    @include flex-row($space-lg);

    &__field {
      @include flex-size(1, 1, 50%);
    }
  }

  @media (max-width: $breakpoint-tablet) {
    &__row {
      @include flex-responsive(row, column);

      &__field {
        @include flex-size(1, 1, 100%);
      }
    }

    .dialog__actions {
      flex-direction: column;
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}
