@import '/src/styles/styles.scss';

mat-dialog-container {
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

mat-dialog-content p {
  margin-bottom: 10px;
}

mat-dialog-actions {
  display: flex;
  margin-top: 20px;
  width: 50%;
  margin-left: auto;

  button {
    min-width: 100px;
    margin-left: 10px;
  }
}

.form-container {
  display: grid;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 16px;

  .form-field {
    flex: 1 1 50%;
  }
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column;

    .form-field {
      flex: 1 1 100%;
    }
  }
}
